$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
$font-stack: 'Lato',
sans-serif;
$spotify-green: #1ED760;
$spotify-green-lighter: rgba(30, 215, 96, 0.3);
.nav,
.pagination,
.carousel,
.panel-title a {
    cursor: pointer;
}

body {
    font-family: $font-stack;
}

a,
a:visited,
a.navbar-brand,
a.navbar-brand:visited,
.media-heading a:hover,
.album-title a:hover {
    color: $spotify-green;
}

a:hover,
a.navbar-brand:hover,
.album-title a,
.media-heading a:active {
    color: $gray-dark;
}

a:active,
a.navbar-brand:active,
.media-heading a,
.album-title a:active {
    color: $gray-darker;
}

span.glyphicon {
    font-size: 1.2em;
    margin-top: 6px;
}

.artist-photo {
    max-width: 40%;
}

.typeahead-input .dropdown-menu {
    font-size: 18px;
    width: 100%;
}

.app-desc h1 {
    font-size: 45px;
}

.app-desc {
    margin-left: 10%;
    margin-right: 10%;
}

.track-table {
    margin-top: 10%;
    margin-bottom: 10%;
}

.album {
    width: 64px;
    height: 64px;
}

span.glyphicon-play,
span.glyphicon-pause {
    padding: 15px 0;
    font-size: 30px;
    width: 30px;
    height: 30px;
    margin: auto;
    color: $spotify-green;
}

.desc-row {
    background-color: $spotify-green-lighter;
    width: 100%;
    margin-top: -52px;
    padding-top: 50px;
}

.row {
    margin-bottom: 5px;
}

.btn-spotify {
    background-color: $spotify-green;
    color: #fff;
    border-radius: 500px;
}

.footer {
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.navbar-brand {
    font-size: 25px;
}

.navbar-nav {
    @media screen and (max-width: $grid-float-breakpoint) {
        margin-top: 0;
        margin-bottom: 0;
    }
    li a{
        @media screen and (max-width: $grid-float-breakpoint) {
            padding-top: 5px;
        }
    }
}
