<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>About Bop Finder</h2>
            <p><strong>Bop Finder</strong> generates a Spotify playlist of an artist's top hits from their entire discography. Spotify's current "Popular" listing on an artist's page only lists ten songs, and is often overwhelmed by their most recent release. <strong>Bop Finder</strong> takes the top songs from each major release, giving a longer and more diverse overview of their hits.</p>

            <p><strong>Bop Finder</strong> was created by <a href="https://github.com/praisecatgod">Yves St. Germain</a>, a software engineer who really loves music and cats.</p>
        </div>
    </div>
</div>
