    <div class="text-center">
        <div class="desc-row container-fluid">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="app-desc">
                        <h1>Bop Finder</h1>
                        <p class="lead">Go beyond the top tracks, and get all the best hits from your next favorite artist's entire discography.</p>
                    </div>
                    <form class="form-horizontal">
                        <div class="col-md-6 col-md-offset-3">
                            <div class="form-group form-group-lg has-feedback typeahead-input">
                                <input type="text" class="form-control input-lg" placeholder="Type artist name here..." ng-model="searchSelected" uib-typeahead="artist.name for artist in getArtist($viewValue)" typeahead-on-select="onSelect($item)" typeahead-wait-ms="1000" typeahead-loading="loadingLocations" typeahead-no-results="noResults">
                                <span class="glyphicon glyphicon-refresh form-control-feedback" aria-hidden="true" ng-show="loadingLocations"></span>
                                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-show="noResults"></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row" ng-show="artist.name.length > 0">
                <div class="col-md-6 col-md-offset-3">
                    <a ng-href="{{artist.external_urls.spotify}}">
                        <h2>{{artist.name}}</h2>
                    </a>
                </div>
            </div>
            <div class="row" ng-show="artist.images.length > 0">
                <div class="col-md-6 col-md-offset-3">
                    <a ng-href="{{artist.external_urls.spotify}}">
                        <img ng-src="{{artist.images[0].url}}" alt="{{artist.name}}" class="artist-photo" />
                    </a>
                </div>
            </div>
            <div class="row" ng-show="topTracks.length > 0">
                <div class="col-md-6 col-md-offset-3">
                    <button type="button" class="btn btn-spotify" ng-click="logIn()">Create A Spotify Playlist!</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <table class="table table-striped track-table">
                        <tr ng-repeat="track in topTracks | orderBy:'-popularity'">
                            <td bop-finder-track ng-model="track">
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>