<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="text-uppercase navbar-brand" href="/">Bop Finder</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/about">About</a></li>
            <li class="dropdown" uib-dropdown on-toggle="toggled(open)">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" uib-dropdown-toggle>
                    <img ng-src="images/flags/{{nav.markets.current.code}}.png" alt="{{nav.markets.current.name}}" />
                    <span class="caret"></span></a>
                <ul class="dropdown-menu" uib-dropdown-menu>
                    <li ng-repeat="c in nav.markets.countries">
                        <a href="#" ng-click="nav.selectCountry(c)">
                            <img ng-src="images/flags/{{c.code}}.png" alt="{{c.name}}" /> {{c.code | uppercase}}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
