<div class="media">
    <div class="media-left">
        <div class="album" ng-style="{'background-image':'url({{track.album.images[2].url}})'}" ng-click="playAudio(track)">
            <div class="buttons" style="display: block;">
                <span class="glyphicon glyphicon-play" ng-hide="true"></span>
                <span class="glyphicon glyphicon-pause" ng-show="!audio.paused && current_audio == track.id"></span>
            </div>
        </div>
    </div>
    <div class="media-body text-left">
        <h4 class="media-heading"> <a ng-href="{{track.external_urls.spotify}}">{{track.name}}</a></h4>
        <span class="album-title"><a ng-href="{{track.album.external_urls.spotify}}">{{track.album.name}}</a></span></div>
</div>
